.Img1{
    padding: 20px;
}
.Img2{
    padding: 20px;
}
.Img3{
    padding: 20px;
}
.Img4{
    padding: 20px;
}
.Img5{
    padding: 20px;
}

.title{
    text-transform: uppercase;
    font-weight: bold;

}